[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "jgarridoalcazar.github.io"]
	path = jgarridoalcazar.github.io
	url = git@github.com:jgarridoalcazar/jgarridoalcazar.github.io.git
